<div id="<%= dom_id group %>" class="bg-white shadow p-2 my-2 d-flex align-items-center row">

 <div class="col-3"> <img src="<%= group.icon %>" alt="group icon" class="group-icon mr-3"></div>
 
 <div class="col-9 text-start">
  <p class="text-success ml-3">
    <%= group.name %>
  </p>

 </div>
</div>
