<h1>Editing group</h1>

<%= render "form", group: @group %>

<br>

<div class=" d-grid gap-2">
   <%= link_to "Show this group", @group,  class: "btn btn-primary" %> 
  <%= link_to "Back to groups", groups_path,  class: "btn btn-secondary" %>
</div>
