.loginguru {
  margin-top: 15rem;
  text-decoration: none;
}

.loginguru :hover {
  background-color: blue;
  color: #fff;
}

.loginguruu a :hover {
  background-color: blue;
  color: #fff;
  text-decoration: none;
}

.loginguruu a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.group-icon {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}
