<p style="color: green"><%= notice %></p>

<h1>Operations</h1>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
    <p>
      <%= link_to "Show this operation", operation, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
<div class=" d-grid gap-2">
 <%= link_to "New operation", new_operation_path, class: "btn btn-secondary" %>
</div>
